name: __TESTS__

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:

    runs-on: ubuntu-latest
    steps:
      
      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run tests
        run: |
          python -m unittest discover -s tests